/* or you can import the font files here with @font-face */
@font-face {
	font-family: 'Alex Brush';
	src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	border: 1px solid seagreen;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

nav ul li {
	display: inline-block;
	padding: 1rem;
	margin-left: 0.5rem;
	border: 1px solid deeppink;
}

h1, h2, h3 {
	font-family: 'Alex Brush', cursive;
}

article {
	border: 1px solid seagreen;
	width: 80%;
	padding: 1rem 2rem;
	box-sizing: border-box;
	font-size: 1.2rem;
	line-height: 1.4;
}