
@import url('https://fonts.googleapis.com/css?family=Cousine|Roboto'); /*remove*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap');

:root {
	--devMeGreen: #00f0c8; /*remove*/
	--lightGreen: #00f0c8;

	--green: #378E83;

	--darkGreen: #335157;

	--devMeLgrey: #999; /*remove*/
	--lightGrey: #eef4f1;

	--darkGrey: #575756;
	--devMeDgrey: #4d4d4d; /*remove*/

	--pink: #ff306a;


	--devMeWhite: #fefefe; /*remove*/
	--devMeBlack: #111; /*remove*/

	--devMeDecoFont: 'Cousine', monospace;
	--devMeBodyFont: 'Roboto', sans-serif;

	--bodyFont: 'Source Sans Pro', sans-serif;
	--codeFont: 'Source Code Pro', monospace;

	--fontSize: 1.4rem;
}


/* ------------------------ main partials */
body {
	background-color: var(--lightGrey);
	border: 20px solid var(--green);

	color: var(--darkGreen);
	line-height: 1.3;
}
#gp-logo img {
	display: block;
	border: 2px solid var(--green);
}
.reveal {
	font-family: var(--devMeBodyFont);
	color: var(--devMeWhite);
}

/* ------------------------ typography */
/* headers */
.reveal h1,
.reveal h2,
.reveal h3 {
	font-family: var(--devMeDecoFont);
	color: var(--devMeGreen);
	line-height: 1.1;
}

.reveal h2,
.reveal h3 {
	text-transform: capitalize;
	letter-spacing: -2px;
}

.reveal h4,
.reveal h5,
.reveal h6 {
	font-family: var(--devMeBodyFont);
	color: var(--devMeGreen);
}

.reveal h1 {font-size: 3.2em;}
.reveal h2 {font-size: 1.9em;}

/* paras, lists, links etc... */
.reveal p,
.reveal li {
	line-height: 1.3; letter-spacing: 0.5px;
	margin-bottom: 0.5em;
}

.reveal ul ul {
	list-style-type: circle;
}

.reveal a {
	color: var(--devMeGreen);
	text-decoration: underline;
}
.reveal a:hover {
	color: var(--devMeWhite);
	text-decoration: none;
}

/* code */
.reveal code {
	color: grey;
  background-color: white;
  padding: 8px;
  font-size: 80%;
}
.reveal pre {
	line-height: 1.4;
}
.reveal pre code {
	padding:15px;
	max-height: auto;
	font-size: 100%;
}

/*
Due to the nature of how pitchme works I have written it in plain ol CSS - however it is new shiny css - e.g. I use imports and custom vars. It will no doubt only work in Chrome

However it would be easy to replace custom vars with sass

I have imported the fonts directly into the stylesheet via google fonts. This doesn't give you much control over font loading I'm afraid.
*/