
@import url('https://fonts.googleapis.com/css?family=Cousine|Roboto'); /*remove*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap');

:root {
	--lightGreen: #00f0c8;

	--green: #378E83;

	--darkGreen: #335157;

	--lightGrey: #eef4f1;

	--darkGrey: #575756;

	--pink: #ff306a;

	--bodyFont: 'Source Sans Pro', sans-serif;
	--codeFont: 'Source Code Pro', monospace;

	--fontSize: 1.4em;
}


/* ------------------------ main partials */
body {
	background-color: var(--lightGrey);
}
#gp-logo img {
	display: block;
	border: 2px solid var(--green);
}
.reveal {
	font-family: var(--bodyFont);
	color: var(--darkGreen);
	line-height: 1.2;
}
.reveal .backgrounds {
	border: 30px solid var(--lightGreen);
	box-sizing: border-box;
}

/* snap overrides */
.reveal div.north {margin-top: 40px;}
.reveal div.east {margin-right: 40px;}
.reveal div.south {margin-bottom: 40px;}
.reveal div.west {margin-left: 40px;}

/* ------------------------ typography */
/* headers */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	color: var(--darkGreen);
	font-weight: bold;
	max-width: 90vw;
	text-transform: capitalize;
}

.reveal h1 {
	font-size: calc(var(--fontSize) * 2);
	text-transform: uppercase;
}
.reveal h2 {
	font-size: calc(var(--fontSize) * 1.6);
}
.reveal h3 {font-size: calc(var(--fontSize) * 1.3);}

/* paras, lists, links etc... */
.reveal p,
.reveal li {
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.reveal ul * {
	list-style-type: circle;
}

.reveal a {
	color: var(--green);
	text-decoration: underline;
}
.reveal a:hover {
	color: var(--lightGreen);
	text-decoration: none;
}

/* code */
.reveal code {
	color: var(--lightGrey);
  background-color: var(--darkGrey);
  padding: 8px;
	font-family: var(--codeFont);
}
.reveal pre {
	line-height: 1.4;
}
.reveal pre code {
	padding: 15px;
	max-height: auto;
	font-size: 100%;
}

/*
Due to the nature of how pitchme works I have written it in plain ol CSS - however it is new shiny css - e.g. I use imports and custom vars. It will no doubt only work in Chrome

However it would be easy to replace custom vars with sass

I have imported the fonts directly into the stylesheet via google fonts. This doesn't give you much control over font loading I'm afraid.
*/