/* or you can import the font files here with @font-face */
@font-face {
	font-family: 'Alex Brush';
	src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(50, 50, 100);
}

.wrapper {
	max-width: 900px;
	margin: 0px auto;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	box-sizing: border-box;
}

@media screen and (min-width: 600px) {
	.header-main {
		background-color: lightslategray;
	}
}

nav ul li {
	display: inline-block;
	padding: 1rem;
	margin-left: 0.5rem;
	border: 1px solid deeppink;
}

h1, h2, h3 {
	font-family: 'Alex Brush', cursive;
}

main {
	display: flow-root;
}

article {
	display: flow-root;
	float: left;
	width: 80%;
	padding: 1rem 2rem;
	background-color: #F2EBCE;
	box-sizing: border-box;
	font-size: 1.2rem;
	line-height: 1.4;
}

aside {
	float: right;
}

@media screen and (max-width: 600px) {
	aside {display: none;}

	article {width: 100%;}
}

picture {
	display: block;
	height: 20rem;
}

img {
	display: block;
	width: 100%; height: 100%;
	object-fit: cover;
}

footer {
	padding: 2rem;
	display: flex;
	justify-content: center;
}

footer p {
	margin: 0px auto;
}

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	border: 2px solid darkseagreen;
	background-color: seagreen;
	box-shadow: 0px 0px 1px 0px seagreen;
	border-radius: 2px;
	color: white;
	font-size: 100%;
}

.btn-alt {
	background-color: darkorchid;
}